@page "/posts"

<h1>Posts</h1>

@if (_posts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var post in _posts)
    {
        <article class="mb-3">
            <h3>@post.Title</h3>
            <p>@post.Body</p>
        </article>
    }
}
