@page "/"
@page "/users"

<h1>Users</h1>

@if (_users is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var user in _users)
    {
        <li>@user.Name (@user.Email)</li>
    }
    </ul>
}
