@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="1">
        <MudText Typo="Typo.h6">BlazorApp1</MudText>
    </MudAppBar>

    <MudDrawer Variant="DrawerVariant.Mini" Elevation="1" Open="true">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <div class="p-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
