<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lookup-by-number" Match="NavLinkMatch.All">
                <span class="bi bi-telephone" aria-hidden="true"></span> Call Lookup By Number
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lookup-by-extension">
                <span class="bi bi-telephone-plus" aria-hidden="true"></span> Call Lookup By Extension
            </NavLink>
        </div>
    </nav>
</div>
